<h1>Add a new director</h1>

<form class="" action="/create_director">
  <div>
    <label for="director_name">Name</label>
    <input type="text" name="director_name" value="" id="director_name">
  </div>

  <div class="">
    <label for="director_bio">Biography</label>
    <input type="text" name="director_bio" value="" id="director_bio">
  </div>

  <div class="">
    <label for="director_dob">Date of Birth</label>
    <input type="string" name="director_dob" value="" id="director_dob">
  </div>

  <div class="">
    <label for="director_image">Profile Picture URL</label>
    <input type="string" name="director_image_url" value="" id="director_image">
  </div>
  <button>Add Director</button>

</form>
